@font-face {
    font-family: 'Apercu Bold';
    font-style: normal;
    font-weight: 700;
    font-display: optional;
    src: local('Apercu Bold'),
        url('assets/fonts/Apercu Bold.woff2') format('woff2') url('assets/fonts/Apercu Bold.woff') format('woff');
}

:root {
    /* TYPOGRAFY & RHYTHM */
    --base: 13px;
    --scale-factor: .24;
    --space: 24px;
    
    /* FONT FAMILY*/
    --system-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --header-family: 'Apercu Bold', var(--system-family);
    --body-family: 'Poppins', var(--system-family);
    --code-family: monospace;
    
    /* COLORS */
    --color-brand: #30d2f1;
    --color-brand-light: #b1eaf5;
    --color-text: rgba(0, 0, 3, 0.8);
    --color-text-light: rgba(0, 0, 3, 0.54);
    --color-border: #E1E5E8;

    --background-brand: #ffffff;
    --background-brand-dark: #f2f3f5;
    
    /* LAYOUT */
    --container-percentage: 92%;
    --container-wide: 1180px;
    --container-normal: 720px;
    --header-height: 60px;

    /* SHADOW */
    --shadow-color: rgba(17, 17, 17, 0.2);
    --shadow-sm: var(--shadow-color) 0 0 2px;

    /* SELECTION */
    --selection: #FFE7AF;
}

@media (min-width: 600px) {
    :root {
        --base: 15px;
    }
}

@media (min-width: 880px) {
    :root {
        --base: 16px;
        --scale-factor: .48;
        --space: 29px;
    }
}

* {
    font-size: calc( var(--base) + (var(--base) * var(--scale-factor) * var(--font-size, 0)));
    line-height: calc( var(--space) * var(--line-height, 1));
    margin-top: calc( var(--space) * var(--margin-top, 0));
    margin-bottom: calc( var(--space) * var(--margin-bottom, 0));
    margin-left: calc( var(--space) * var(--margin-left, 0));
    margin-right: calc( var(--space) * var(--margin-right, 0));
    padding-top: calc( var(--space) * var(--padding-top, 0));
    padding-bottom: calc( var(--space) * var(--padding-bottom, 0));
    padding-left: calc( var(--space) * var(--padding-left, 0));
    padding-right: calc( var(--space) * var(--padding-right, 0)); }

* * {
    --margin-top: initial;
    --margin-bottom: initial;
    --margin-left: initial;
    --margin-right: initial;
    --padding-top: initial;
    --padding-bottom: initial;
    --padding-left: initial;
    --padding-right: initial; }
  